.movie-card {
    width: 360px;
  height: 200px;
  margin: 12px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 191, 255, 0.15);
  background-color: #101820;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.5);
}

.poster {
 width: 100%;
  height: 140px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.movie-title {
  background: #0a0a0a;
  color: #00BFFF;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.card-hover-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
  overflow-y: auto;
}

.movie-card:hover .card-hover-info {
  opacity: 1;
}

@media screen and (max-width: 768px) {
 .movie-card {
  width: 100%;
  height: auto;
}

.poster {
  height: auto;
  max-height: 200px;
}

.movie-title {
  font-size: 16px;
  padding: 8px;
}

}
