.movie-card {
  display: flex;
  width: 500px;
  height: 180px;
  margin: 12px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #101820;
  box-shadow: 0 4px 12px rgba(0, 191, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.4);
}

.poster {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.card-hover-info {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 60%;
  font-size: 14px;
  text-align: left;
}

.movie-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #00BFFF;
}

.movie-card-link {
  text-decoration: none;
}


@media screen and (max-width: 768px) {
 .movie-card {
    width: 95%;
    height: 180px;
  }

  .movie-title {
    font-size: 15px;
    padding: 6px;
  }

  .card-hover-info {
    font-size: 12px;
    padding: 10px;
  }

}
